<a href="https://colab.research.google.com/github/nandinik2004/FML/blob/main/lasso_startup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl

In [4]:
data = pd.read_csv('/content/50_Startups.csv')

In [5]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [7]:
x=data.drop('Profit',axis=1)

In [8]:
y=data['Profit'].values

In [9]:
x=x.drop('State',axis=1)

In [10]:
x.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [11]:
y=y.reshape(-1,1)

In [13]:
from sklearn import linear_model
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=42)

In [15]:
reg=Lasso(alpha=0.1)
reg.fit(x_train,y_train)

Lasso(alpha=0.1)

In [16]:
y_predict=reg.predict(x_train)

In [17]:
print(f'MAE={mean_absolute_error(y_train,y_predict)}')

MAE=6618.070689301211

In [18]:
print(f'MSE={mean_squared_error(y_train,y_predict)}')

MSE=82041812.21257141

In [19]:
print(f'r2_score={r2_score(y_train,y_predict)}')

r2_score=0.9508557563847194

In [20]:
y_predict2=reg.predict(x_test)

In [21]:
print(f'MAE={mean_absolute_error(y_test,y_predict2)}')

MAE=7222.594344761393

In [22]:
print(f'MSE={mean_squared_error(y_test,y_predict2)}')

MSE=81772149.39080615

In [23]:
print(f'r2_score={r2_score(y_test,y_predict2)}')

r2_score=0.9418819531017616

In [24]:
reg.score(x_train,y_train)

0.9508557563847194

In [25]:
reg.score(x_test,y_test)

0.9418819531017616